<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-icon name="settings" style="margin:0px 10px 0px 0px"></ion-icon>Setup
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="drink-wrapper" padding>
  <ion-segment>
    <ion-segment-button (click)="mapClicked()">
      Map
    </ion-segment-button>
    <ion-segment-button (click)="setupClicked()">
      Setup
    </ion-segment-button>
  </ion-segment>
  <div class="body-wrapper">
    <div *ngIf="page == true">
      MAP
    </div>
    <div *ngIf="page == false">
      <div class="header">
        Setup
        <ion-fab class="fab-section" right top>
          <button ion-fab color="red" (click)="addBeverage()"><ion-icon name="add"></ion-icon></button>
        </ion-fab>
      </div>
      <div class="select-section">
      </div>
    </div>
  </div>
</ion-content>
