.drink-wrapper{
  background-color: rgba(86, 66, 244, 1.0);
}
.body-wrapper{
  height:100%;

}
.header{
  height: 20%;
  margin: 10% 0% 0% 0%;
}

.select-section{
  height: 80%;
}

.fab-section{
  margin: 15% 0% 0% 0%;
}

