  <ion-header>
    <ion-navbar>
      <ion-title>Add Beverages</ion-title>
      <ion-buttons end>
        <button ion-button (click)="saveBeverages()">Done</button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

<ion-content padding>
  <ion-card *ngFor="let mixer of drink.mixerAlcohols">
    <ion-item>
      <ion-label>Select Beverage</ion-label>
      <ion-select #mySelect [(ngModel)]="mixer.beverage" (ionChange)="onChange($event)">
        <ion-option *ngFor="let beverage of beverages" [value]="beverage">
          {{ beverage.drinkName }}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label *ngIf="overHundred == false && (mixer.scale > 1 || mixer.scale == 0)" round color="secondary">{{mixer.scale}} parts</ion-label>
      <ion-label *ngIf="overHundred == false && mixer.scale == 1" round color="secondary">{{ mixer.scale}} part</ion-label>
      <ion-label *ngIf="overHundred == true && (mixer.scale > 1 || mixer.scale == 0)" round color="danger">{{ mixer.scale }} parts</ion-label>
      <ion-label *ngIf="overHundred == true && mixer.scale == 1" round color="danger">{{ mixer.scale }} part</ion-label>
      <ion-range min="0" [max]="10" [(ngModel)]="mixer.scale" (ionChange)="changingPercentage()">
        <ion-label range-left>0</ion-label>
        <ion-label range-right>10</ion-label>
      </ion-range>
    </ion-item>
  </ion-card>

  <button class="addBeverage" (click)="addABeverage()">Add Beverage</button>
</ion-content>
